<% layout('./layouts/layoutMain') %>
<% script('javascripts/anim.js') %>

<div id="main">
    <p id="animation">Welcome to the bookitooki community</p>
    <div id="buttons">
        <div class="button log">
            <a href="/login">
                <p>Авторизация</p>
            </a>
        </div>
        <div class="button reg">
            <a href="/registration">
                <p>Регистрация</p>
            </a>
        </div>
    </div>
</div>