
h1 {
  font-size: 32px;
  line-height: 110%;
  margin: 0 0 1.68rem 0; }

h2 {
  font-size: 25px;
  line-height: 110%;
  margin: 0; }

h3 {
  font-size: 20px;
  line-height: 110%;
  margin: 1rem 0 1rem 0; }

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 0; }

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0; }

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0; }

ul.card-action-buttons {
    margin: -26px 10px 0 0;
    text-align: right;
}
ul.card-action-buttons li {
    display: inline-block;
    padding-left: 5px;
}
.card .card-content {
    padding: 5px 10px;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons {
    line-height: inherit; 
    display: block; 
}
a.brand-logo{
	font-style: italic;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight: 700;
}

.description {
    font-size: 14px;
	margin-left: 125px;
    font-style: italic;
    vertical-align: top;
    position: relative;
}

.modal {
	width: 20%;
}

.card .card-action a {
	margin-right: 0;
}

nav .nav-wrapper {
    padding: 0 30px;
}

.nav-child  a {
    padding-left: 50px;
}
/* Tooltips */
div.tooltip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	z-index:13000;
}

div.tooltip h4 {
	padding: 0;
	margin: 0;
	font-size: 95%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../images/selector-arrow.png) no-repeat;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: .25em;
    line-height: 14px;
}
.icon-apply:before, .icon-edit:before, .icon-pencil:before {
    content: "\2b";
}
/* ++++++++++++++  blog  ++++++++++++++ */

.cols-1 {
    display: block;
    float: none !important;
    margin: 0 !important;
}

.cols-2 .column-1 {
    width: 46%;
    float: left;
}

.cols-2 .column-2 {
    width: 46%;
    float: right;
    margin: 0
}

.cols-3 .column-1 {
    float: left;
    width: 29%;
    padding: 0 5px;
    margin-right: 4%

}

.cols-3 .column-2 {
    float: left;
    width: 29%;
    margin-left: 0;
    padding: 0 5px
}

.cols-3 .column-3 {
    float: right;
    width: 29%;
    padding: 0 5px
}