.text-light a, .caption a {color: #8BC4D5;}
.bg-blue {background-color: #8BC4D5}
.bg-amber {background-color: #ffd54f}
.bg-blue-grey {background-color: #90a4ae}
.bg-brown {background-color: #a1887f}
.bg-cyan {background-color: #4dd0e1}
.bg-deep-orange {background-color: #ff8a65}
.bg-deep-purple {background-color: #9575cd}
.bg-green {background-color: #81c784}
.bg-grey {background-color: #e0e0e0}
.bg-indigo {background-color: #7986cb}
.bg-light-blue {background-color: #4fc3f7}
.bg-light-green {background-color: #aed581}
.bg-lime {background-color: #dce775}
.bg-orange {background-color: #ffb74d}
.bg-pink {background-color: #f06292}
.bg-purple {background-color: #ba68c8}
.bg-red {background-color: #e57373}
.bg-teal {background-color: #4db6ac}
.bg-yellow {background-color: #fff176}
.bg-white {background-color: #ffffff}
.bg-black {background-color: #000000}
.text-white {color: #ffffff}
.text-black {color: #000000}
.text-amber {color: #ffd54f;}
.text-blue {color: #64b5f6;}
.text-blue-grey {color: #90a4ae;}
.text-brown {color: #a1887f;}
.text-cyan {color: #4dd0e1;}
.text-deep-orange {color: #ff8a65;}
.text-deep-purple {color: #9575cd;}
.text-green {color: #81c784;}
.text-grey {color: #e0e0e0;}
.text-indigo {color: #7986cb;}
.text-light-blue {color: #4fc3f7;}
.text-light-green {color: #aed581;}
.text-lime {color: #dce775;}
.text-orange {color: #ffb74d;}
.text-pink {color: #f06292;}
.text-purple {color: #ba68c8;}
.text-red {color: #e57373;}
.text-teal {color: #4db6ac;}
.text-yellow {color: #fff176;}
